$padding: 50px;
$borders: 15px;

/* The point where the layout should change */
$desktop: 840px;
$medium: 700px;
$small: 500px;

$colors: (
    primary: #3a0ca3,
    secondary: #ff5cf3,
    secondary-dark: darken(#ff5cf3, 20%),
    text: #FFFFFF 
);