/* The point where the layout should change */
$big: 1005px;
$desktop: 840px;
$medium: 770px;
$small: 500px;

$colors: (
    primary: #3a0ca3,
    secondary: #ff5cf3,
    secondary-dark: darken(#ff5cf3, 20%),
    text: #FFFFFF 
);