$padding: 50px;
$borders: 15px;

/* The point where the layout should change */
$desktop: 840px;

$colors: (
    primary: #0a1f44,
    secondary: #ff1e42,
    secondary-dark: darken(#ff1e42, 15%),
    accent: #FFF6BB,
    text: #FFFFFF 
);