@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/* The point where the layout should change */
/* Making a mixin for the media */
body {
  background-color: #3a0ca3;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

body .title {
  font-family: 'Open Sans';
  font-size: 3.5rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 500px) {
  body .title {
    padding: 0px 25px 0px 25px;
  }
}

body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0px 50px 0px;
}

@media (max-width: 840px) {
  body form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body form button,
body form input {
  border: none;
  background: none;
  outline: none;
  color: #FFFFFF;
}

@media (max-width: 840px) {
  body form button,
  body form input {
    width: 80%;
    display: block;
    margin: auto;
  }
}

body form input {
  font-size: 1.5rem;
  border-bottom: 3px solid;
  height: 35px;
  padding: 5px 190px 5px 10px;
}

@media (max-width: 840px) {
  body form input {
    padding: 5px 0px 15px 0px;
  }
}

body form button {
  font-size: 0.9rem;
  font-weight: bolder;
  letter-spacing: 0.07em;
  padding: 17px 19px;
  margin-left: 25px;
  border-radius: 2px;
  background: #ff5cf3;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

body form button:hover {
  background: #f500e3;
}

@media (max-width: 840px) {
  body form button {
    margin: 20px 0px 0px 0px;
  }
}

body form .message {
  position: absolute;
  left: 315px;
  bottom: 965px;
  margin-top: 0px;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ff5cf3;
}

@media (max-width: 840px) {
  body form .message {
    position: static;
    margin-top: 10px;
  }
}

body ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

body :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

body ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

body ::placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

body .city-display {
  margin: 0px 50px 0px 50px;
}

body .city-display .city {
  position: relative;
  padding: 20px 10%;
  border-radius: 20px;
  background: #FFFFFF;
  color: #3a0ca3;
  text-transform: uppercase;
}

body .city-display .city:after {
  content: "";
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: #FFFFFF;
}

body .city-display .cities {
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body .city-display .cities span {
  font-family: 'Open Sans';
}

body .city-display .cities figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

body .city-display .cities figcaption {
  font-family: 'Open Sans';
  margin: 10px 0px 10px 0px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}

body .city-display .cities .city-temperature {
  font-family: 'Open Sans';
  font-size: 5rem;
  font-weight: bolder;
  margin-top: 10px;
}

body .city-display .cities .city sup {
  font-family: 'Open Sans';
  font-size: 0.5em;
  font-weight: 700;
}

body .city-display .cities .city-name sup {
  font-family: 'Open Sans';
  padding: 0.3em 0.6em;
  border-radius: 20px;
  color: #3a0ca3;
  background: #f500e3;
}

body .city-display .cities .city-icon {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

@media (max-width: 1005px) {
  body .city-display .cities {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 770px) {
  body .city-display .cities {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  body .city-display .cities {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */