@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "variables";
@import "mixin";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(primary);
  max-width: 100%;
  max-height: 100%;
  margin: 0;

  .title {
    font-family: 'Open Sans';
    font-size: 3.5rem;
    letter-spacing: 0.03em;
    color: color(text);
    text-align: center;

    @include small {
      padding: 0px 25px 0px 25px;
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }  

  form {
    @include flex(center);
    margin: 70px 0px 50px 0px;

    @include desktop {
      flex-direction: column;
      @include flex(center);
    }

    button,
    input {
      border: none;
      background: none;
      outline: none;
      color: color(text);

      @include desktop {
        width: 80%;
        display: block;
        margin: auto;
      }
    }

    input {
      font-size: 1.5rem;
      border-bottom: 3px solid;
      height: 35px;
      padding: 5px 190px 5px 0px;

      @include desktop {
        padding: 5px 0px 15px 0px;
      }
    }

    button {
      font-size: 0.9rem;
      font-weight: bolder;
      letter-spacing: 0.07em;
      padding: 17px 19px;
      margin-left: 25px;
      border-radius: 2px;
      background: color(secondary);
      transition: 0.15s ease-in-out;

      &:hover {
        background: color(secondary-dark);
      }

      @include desktop {
        margin: 20px 0px 0px 0px;
      }
    }

    .message {
      position: absolute;
      text-align: center;
      padding-top: 100px;
      margin-top: 0px;
      font-family: 'Open Sans';
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.03em;
      color: color(secondary);

      @include desktop {
        position: static;
        margin-top: 10px;
        padding-top: 0px;
      }
    }
  }

  ::placeholder {
    color: color(text);
    opacity: 0.8;
  }

  .city-display {
    margin: 0px 50px 0px 50px;

    .city {
      position: relative;
      padding: 20px 10%;
      border-radius: 20px;
      background: color(text);
      color: color(primary);
      text-transform: uppercase;
  
      &:after {
        content: "";
        width: 90%;
        height: 50px;
        position: absolute;
        bottom: -12px;
        left: 5%;
        z-index: -1;
        opacity: 0.3;
        border-radius: 20px;
        background: color(text);
      }
    }
    
    .cities {
      list-style: none;
      display: grid;
      grid-gap: 32px 20px;
      grid-template-columns: repeat(4, 1fr);
      padding: 0px;
  
      span {
        font-family: 'Open Sans';
      }
  
      figure {
        @include flex(center);
        flex-direction: column;
        margin: 0;
      }

      figcaption {
        font-family: 'Open Sans';
        margin: 10px 0px 10px 0px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-align: center;
      }
       
      .city-temperature {
        font-family: 'Open Sans';
        font-size: 5rem;
        font-weight: bolder;
        margin-top: 10px;
      }
       
      .city sup {
        font-family: 'Open Sans';
        font-size: 0.5em;
        font-weight: 700;
      }
       
      .city-name sup {
        font-family: 'Open Sans';
        padding: 0.3em 0.6em;
        border-radius: 20px;
        color: color(primary);
        background: color(secondary-dark);
      }
       
      .city-icon {
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
      }
  
      @include big {
        grid-template-columns: repeat(3, 1fr);
      }

      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @include small {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}